// app global css in SCSS form

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-feature-settings: "ss01",
    "ss02",
    "cv01",
    "cv03";
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
}

html {
  background-color: rgb(247, 248, 250);
}

* {
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.center {
  margin: 0 auto;
}

.radius-30 {
  border-radius: 30px !important;
}

.wallet-container {
  img {
    width: 100px;
    height: 100px;
  }

  .q-item__label {
    text-align: center;
    padding: 8px;
  }

  .huobi img {
    padding: 15px;
  }

  .token-pocket img,
  .bitkeep img,
  .bitpie img {
    padding: 12px;
  }
}

.q-card {
  border-radius: 30px;
}

.q-card.swap {
  max-width: 436px;
}

.q-item__section--avatar {
  min-width: 40px;
}

.q-item__section--side {
  padding-right: 8px;
}

.q-item--active {
  border-left: 5px solid $secondary;
}

.q-layout.ido {
  .bg {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: translate3d(0px, 0px, 0px);
    height: -webkit-fill-available;
    // background-image: radial-gradient(50% 50% at 50% 50%, #ffb850 0%, rgb(247, 248, 250) 100%);
    background: rgba(44, 44, 44, .2);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, .2)), to(rgba(224, 23, 3, .6)));
    background: linear-gradient(0deg, rgba(44, 44, 44, .2), rgba(255, 184, 80, .6));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    opacity: 0.15;
    -webkit-user-select: none;
    pointer-events: none;
  }

  .ido-card {
    border-radius: 30px;
    background-color: #767676;
    color: white;
    font-weight: bold;

    .finish {
      background-color: rgba(86, 86, 86, 0.5);
      width: 80%;
      margin: 0 auto;
      font-size: 20pt;
      font-weight: bold;
      padding: 8px;
      border-radius: 8px;
    }
  }

  .content-container {
    >div {
      max-width: 1200px;
      margin: 0 auto;
      padding: 48px 0
    }
  }
}

.account-card {
  >div:first-child {
    background-color: #f7f8fa;
    text-align: center;
  }
}
