<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Page Title  -->
    <title>Crypto Dashboard | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./css/dashlite.css?ver=2.2.0">
    <link id="skin-default" rel="stylesheet" href="./css/theme.css?ver=2.2.0">
  </head>
  <body class="nk-body npc-crypto bg-white has-sidebar">
    <!-- DO NOT touch the following DIV -->
    <div id="q-app" class="nk-app-root"></div>
     <script src="./assets/js/bundle.js?ver=2.2.0"></script>
    <script src="./assets/js/scripts.js?ver=2.2.0"></script>
    <script src="./assets/js/charts/chart-crypto.js?ver=2.2.0"></script>
  </body>
</html>
